/**
 * Created by Lite on 19/03/2015.
 */
.profile-information{
    text-align: center;

}

.profile-img{
    margin-top: 40px;
    border-radius: 6px 6px 6px 6px;
    border: solid lightgray thin;
}

.profile-details{
    text-align: left;
}