<aside class="right-side">
    <section class="content-header">
        <h1>
            Timetable
            <small>Student</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-flag"></i>  Home</a></li>
            <li class="active">Timetable</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-lg-9">
            <h3>1st Semister</h3>
            <div class="table-responsive" style="text-align: center;">
                <table class="table table-hover table-stripped table-bordered table-condensed">
                    <thead style="background-color: #3c8dbc; color:#ffffff">
                        <tr>
                            <th style="text-align: center">Time</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">08h00-09h00</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">09h00-10h00</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">10h00-11h00</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">11h00-12h00</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                        </tr>
                        <tr>
                            <td colspan="7" style="background-color: #f5f5f5"></td>
                        </tr>
                        <tr>
                            <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">14h00-15h00</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">15h00-16h00</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">16h00-17h00</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">17h00-18h00</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                            <td>Science1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>2nd Semister</h3>
            <div class="table-responsive" style="text-align: center;">
                <table class="table table-hover table-stripped table-bordered table-condensed">
                    <thead style="background-color: #3c8dbc; color:#ffffff">
                    <tr>
                        <th style="text-align: center">Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">08h00-09h00</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">09h00-10h00</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">10h00-11h00</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">11h00-12h00</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                    </tr>
                    <tr>
                        <td colspan="7" style="background-color: #f5f5f5"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">14h00-15h00</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">15h00-16h00</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">16h00-17h00</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; background-color: #3c8dbc; color:#ffffff">17h00-18h00</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                        <td>Science1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3">
            <div style="display:inline-block; min-height:290px; margin-top: 50px">
                <pre style="text-align:center"><em>{{dt | date:'fullDate' }}</em></pre>
                <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
            </div>
        </div>
    </section>
</aside>