<aside class="right-side">
    <section class="content-header">
        <h1>
            Teachers
            <small>Student</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-flag"></i>  Home</a></li>
            <li class="active">Teachers</li>
        </ol>
    </section>

    <section class="content">
        <h2>Teachers</h2>
        <img ng-src="app/common/img/under_construction.png" alt="User Image" />
    </section>
</aside>