<aside class="right-side">
    <section class="content-header">
        <h1>
            Profile
            <small>General information</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-flag"></i> Home</li>
            <li class="active">Profile</li>
        </ol>
    </section>

    <section class="content">
        <div class="profile-information">
            <div class="col-lg-4 profile-img-space" >
                <img src="app/common/img/avatar3.jpg" class="profile-img" width="170" alt="User Image" />
                <h4>RAJU Abderrahim</h4>
            </div>
            <div class="col-lg-8 profile-details">
                <div class="">
                    <h3 style="color: dimgray">
                        <i class="fa fa-check-circle"></i> Student Information
                    </h3>
                    <div class="">
                        <table class="table table-stripped table-hover" style="text-align: left">
                            <tr>
                                <td>First Name </td>
                                <td>Raju</td>
                            </tr>
                            <tr>
                                <td>Last Name </td>
                                <td>Abderrahim</td>
                            </tr>
                            <tr>
                                <td>School-ID </td>
                                <td>455-HGT-4557700-KOIU17</td>
                            </tr>
                            <tr>
                                <td>Birthday </td>
                                <td>05/09/1997</td>
                            </tr>
                            <tr>
                                <td>Phone </td>
                                <td>+212 6 00 00 00 00</td>
                            </tr>
                            <tr>
                                <td>Email </td>
                                <td>abderRaju@gmail.com</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="">
                    <h3 style="color: dimgray">
                        <i class="fa fa-check-circle"></i> Parent Information
                    </h3>
                    <div class="">
                        <table class="table table-stripped table-hover" style="text-align: left">
                            <tr>
                                <td>First Name </td>
                                <td>Raju</td>
                            </tr>
                            <tr>
                                <td>Last Name </td>
                                <td>Hamacine</td>
                            </tr>
                            <tr>
                                <td>Phone </td>
                                <td>+212 6 00 00 00 00</td>
                            </tr>
                            <tr>
                                <td>Email </td>
                                <td>hamacineRaju@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Address </td>
                                <td>Derb Saltan, N°47, Casablanca</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="">
                    <h3 style="color: dimgray">
                        <i class="fa fa-check-circle"></i> Class Information
                    </h3>
                    <div class="">
                        <table class="table table-stripped table-hover" style="text-align: left">
                            <tr>
                                <td>School year</td>
                                <td>2015/2016</td>
                            </tr>
                            <tr>
                                <td>Class</td>
                                <td>2B STE1</td>
                            </tr>
                            <tr>
                                <td>Student number</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>Hours</td>
                                <td>38H/Week</td>
                            </tr>
                            <tr>
                                <td>Departement Chef</td>
                                <td>SARFAHAN HAMACINE</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>+212 6 00 00 00 00</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>sarfahanHamacine@edindia.com</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
 </aside>